<h1><%= title %></h1>

<form method="POST">
    <div class="form-group">
        <label for="drinkName">drink name: </label>
        <input
            id="drinkName"
            class="form-control"
            type="text"
            placeholder="type drink name"
            name="drinkName"
            required
            value="<%= drinks ? drinks.drinkName: '' %>"/>
    </div>
    <div class="form-group">
        <label for="ingredients">ingredients: </label>
        <input 
            id="ingredients"
            class="form-control"
            type="text"
            placeholder="enter drink ingredients - seperate by comma"
            name="ingredients"
            required
            value="<%= ingredients ? ingredients: '' %>"/>
    </div>
    <div class="form-group">
        <label for="instructions">instructions: </label>
        <textarea
            id="instructions"
            class="form-control"
            placeholder="describe how to make the drink"
            name="instructions"
            required
        ><%= drinks ? drinks.instructions : '' %></textarea>
    </div>
    <button class="btn btn-primary" type="submit">add drink</button>
</form>

<% if (errors){ %>
    <ul>
        <% errors.forEach(function(error){ %>
            <li style="list-style-type:none;padding:0;margin:0;"><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>